@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaraunt Rater</h1>
    <p class="lead">Restaraunt Rater is a web application designed to record the good, the bad, and the ugly experiences of the restaraunts you patronize!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Click on the navbar button link to Rate a Restaraunt or click below that says Rate A Restaraunt
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Rate A Restaraunt &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get More Information</h2>
        <p>Click here to learn more about Restaraunt Rater</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get In Touch</h2>
        <p>Click here to contact the administrators of Restaraunt Rater</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Contact Us &raquo;</a></p>
    </div>
</div>